@font-face{
	font-family: "Proxima Nova Regular";
	src: url(../fonts/ProximaNova-Regular.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova Bold";
	src: url(../fonts/ProximaNova-Bold.woff);
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "Umnik";
	src: url(../fonts/umnik-bold.woff2);
	font-weight: normal;
	font-style: normal;
}